name: Update YouTube M3U8
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  get_link:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install yt-dlp
        run: |
          # Κατέβασμα του σωστού binary αρχείου
          sudo wget https://github.com -O /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Extract M3U8 URL
        run: |
          # Χρήση του yt-dlp για εξαγωγή του link
          # Το --quiet μειώνει τα περιττά μηνύματα
          /usr/local/bin/yt-dlp -g "https://www.youtube.com" > live.m3u8
          echo "Link extracted: $(cat live.m3u8)"

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add live.m3u8
          git commit -m "Update YouTube Live Link" || exit 0
          git push

