name: Update YouTube M3U8
on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch:

jobs:
  get_link:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install yt-dlp
        run: |
          python -m pip install --upgrade pip
          pip install yt-dlp

      - name: Extract M3U8 URL
        run: |
          # Χρήση του python module πλέον για ασφάλεια
          python3 -m yt_dlp -g "https://www.youtube.com/watch?v=uWIhV9gQClg" > live.m3u8
          echo "Extracted Link: $(cat live.m3u8)"

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add live.m3u8
          git commit -m "Update YouTube Live Link" || exit 0
          git push


